/* GERAIS */

* {
    list-style: none;
    text-decoration: none;

}

a {
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
}

a:hover {
    text-decoration: none;
    color: #f4c70c;
   
}


body {
    margin: 0;
}

p , h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em;
    color: black;
}



/* NAVBAR */

nav {
    background-color: black;
    min-height: 20vh;
    text-transform: uppercase;
    padding-right: 5px;
    }   
    
    .navbar-dark .navbar-nav .nav-link {
        color: #E8E8E8;
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #E8E8E8; 
        background-color: #005C84;
        
    }
         
    .nav-logo {
        width: 50%;
    }
    
    .nav-logo img {
        width: 110px;
        margin-left: -30%;
    }

    a.nav-logo { 
        margin-right: -380px;

    }

    a.nav-item.nav.link {
        margin-right: -50px;
    }

    .navbar p {
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
        font-size: 3.3em;
        color: #E8E8E8;
        letter-spacing: 0.1em;
        word-spacing: 0.3em;
    }

   

/* ======================================================
==========================================/* PAGINA HOME*/

/* BOTÃO SAIBA MAIS */
.button {
    border: 2px solid #E8E8E8;
    border-radius: 15px;
    text-align: center;
  }
  
  .btn {
      padding-top: 15px;
  }

  .btn a {
    color: #E8E8E8;
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
  }

  #capa .btn a:hover {
    color: #005c84;
    background-color: #E8E8E8; 
    transition: ease-in 0.3s;
  }

  #utilizacao .btn a:hover {
    color: #12663c;
    background-color: white; 
    transition: ease-in 0.3s;
  }

  #galeria .btn a:hover {
    color: #F4C70C;
    background-color: white; 
    transition: ease-in 0.3s;
  }

/* BOTÃO SUBIR / VOLTAR A TELA PARA CIMA */

.arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    border-radius: 35px;
    display: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.arrow-up img {
    color: #fff;
    margin: 0;
    position: relative;
    left: 15px;
    top: 12px;
    font-size: 19px;
    transition: all 0.3s ease;
    width: 20px; 
}
.arrow-up:hover {
    background: rgba(0, 0, 0, 0.8);
}
.arrow-up:hover img {
    color: #fff;
    top: 5px;
}

/* PARALLAX O PROJETO */

#capa .parallax {
    background-image: url('../img/img6.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#capa .parallax-content {
     background-color: #005C84;
     text-align: center;
     padding: 50px 0;
     position: relative; 
}

#capa .parallax-content h3{
    font-family: 'Fjalla One', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: #E8E8E8;
    margin-top: 0;
    padding-top: 20px;
}

#capa .parallax-content > p {
    font-family: 'Nunito', sans-serif;
    color: #E8E8E8;
    text-transform: none;
}

/* PARALLAX UTILIZAÇÃO / COMO UTILIZAR */

#utilizacao .parallax-utilizacao {
    background-image: url('../img/img1.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#utilizacao .parallax-content-utilizacao {
    background-color: #FEA02F;
    text-align: center;
    padding: 50px;
}

#utilizacao .parallax-content-utilizacao h3 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 30px;
   text-transform: uppercase;
   color:#E8E8E8;
   margin-top: 0;
   padding-top: 20px;
}

#utilizacao .parallax-content-utilizacao > p {
    font-family: 'Nunito', sans-serif;
   color: #E8E8E8;
   text-transform: none;
}

/* PARALLAX GALERIA DE FOTOS */

#galeria .parallax-galeria {
    background-image: url('../img/img7.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#galeria .parallax-content-galeria {
    background-color: #007A7B;
    text-align: center;
    padding: 50px;
}

#galeria .parallax-content-galeria h3 {
   font-family: 'Fjalla One', sans-serif;
   font-size: 30px;
   text-transform: uppercase;
   color: #E8E8E8;
   margin-top: 0;
   padding-top: 20px;
}

#galeria .parallax-content-galeria > p {
    font-family: 'Nunito', sans-serif;
   color: #E8E8E8;
   text-transform: none;
}


/* ======================================================
================================= PÁGINA O PROJETO 

/* CAROUSEL 
.carrossel-quem-somos img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}


.carousel-control-prev {
    left: 100px;
}

.carousel-control-next {
    right: 100px;
} */

/* CONTEÚDO O PROJETO */
.the-project h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 3em;
    font-family: "Fjalla One", Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
   
}

.the-project p {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
   
}

.texto-destaque {
    font-size: 25px;
    background-color: #005C84;
    color: #E8E8E8;
    font-family: 'Courier New', Courier, monospace;

}

/* ======================================================
=======================================*//* PÁGINA COMO UTILIZAR */
.utilizacao {
    margin: 20px 10px;
}

.utilizacao h3 {
 text-align: center;
}

.utilizacao p {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    margin: 0 auto;
}

span.paragraph-colorful {
    font-size: 20px; 
    color:black;
    background-color: #FEA02F;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
 }




.pdfdoc {
   padding-top: 4%;
}

.pdfdoc a {
    font-size: 1.5em;
    text-decoration: underline;
    
}
/* CAROUSEL ATUAÇÃO 
#carouselExampleControls img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

} */

/* APOIADORES*/
.apoiadores {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5%;
}

.apoiadores h4 {
    padding-bottom: 5%;
}

.apoiadores div {
    display: flex;

}

.apoiadores img {
    width: 20%;
    align-items: center;
}


/* =================================================================================================*//* PÁGINA GALERIA DE FOTOS */

/* CONTEÚDO GALERIA DE FOTOS */
.galeria  h3{
    font-size: 3em;
    font-family: 'Fjalla One', sans-serif; 
    color: #000000;
    text-align: center;
    margin: 24px;
    
}
.galeria p {
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
}
.galeria2 img{
    width: 100%;
    max-width:800px;
    margin: 0 auto;
}

.frase-destaque {
    font-size: 25px;
    background-color: #007A7B;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}



/* CAROUSEL GALERIA DE FOTOS */

.carousel-control-prev{
  left: 100px;

}

.carousel-control-next{
 right: 100px;
}


/* FOOTER */
footer{
    background-color: #000000;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 15px;
}

li {
    align-items: left;
    margin-bottom: 12px;
    list-style: none;
}

.lista ul li {
    color: #E8E8E8;

}

.fbInsta {
    padding-left: 1%;
    display: flex;
}

.fb {
    margin-right: 58px;
}

.insta {
    margin-right: 50px;
}
.logo-footer{
    text-align: center;
}
.logo-footer  img {
    width: 150px;
}

.lista > li {
    color: #E8E8E8;
}

.lista a{
    color: #E8E8E8;
    text-decoration: none;
}

.rodape1 a {
    text-decoration: none;
    color: #E8E8E8;   
}

.rodape1  a:hover {
    background-color: #005C84;
    padding: 2px 0;
}

/* MEDIAQUERY==============================*/
@media (max-width:750px) {
    .logo-footer  img {
        width: 140px;
        padding-left: 30px;
    }
    footer {
        flex-direction: column;
        text-align: center;
        width: 100%;  
        padding-right: 11%;

    }
    #capa .parallax {
        background-position: unset;
    }
    .arrow-up img {
        left: 0;
  }
  .fbInsta {
   padding-right: 35%;
    }
}